body{
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
}

.navbar{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar li{
  font-weight: bold;
  cursor: pointer;
}

.logo{
  width: 40px;
}

.title{
  background: white;
  color: black;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px white;
  margin-top: 30px;
}

.position-section{
   background-image: url("Rectangle\ 2\ \(11\).png");
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
  padding: 50px 0;
}

.position-container{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.box{
  position: relative;
  width: 160px;
  height: 110px;
  background: lime;

  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.box.absolute{
  position: absolute;
  width: 120px;
  height: 80px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: 20px;
}

.box.absolute.center{
  width: 160px;
  border-radius: 50px;
  top: -40px;
  left: -5px;

}
.bot{
    color: white;
}

.info-section {
  background: #111;
  padding: 60px 0;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: #662222;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.hero:hover{
   color: red; 
  transition: s

}

.card h2{
  color: white;
  margin-bottom: 10px;
}


footer{
  background: #000;
  padding: 10px;
  color: #aaa;
  font-size: 14px;
}

